<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT-_vw_Hcz8EKUBCNSBbx2XkbGy3gfm0c</string>
	<key>GCM_SENDER_ID</key>
	<string>316019405619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatt</string>
	<key>PROJECT_ID</key>
	<string>chatt-c3840</string>
	<key>STORAGE_BUCKET</key>
	<string>chatt-c3840.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316019405619:ios:d549ca44629886012cc446</string>
</dict>
</plist>